body {
    font-family: "Helvetica Neue", sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    text-align: center;
}
button {
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 3px 15px;
    color: white;
    line-height: 25px;
    background-color: #00bcd4;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    transition: all 150ms ease-in;
    outline: none;
}
button:hover {
    background-color: #79d7e4;
}
button.mode {
    color: white;
    background-color: #00bcd4;
    box-shadow:none;
}
button.mode:hover {
    background-color: #79d7e4;
}
.button-wrapper {
    padding: 10px 50px;
    justify-content: center;
}
#question{
  text-align: center;
  font-size: 5em;
}
#userInput{
  height: 50px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid black;
  text-align: center;
  font-size: 2em;
  outline: none;
}
.grid-container{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}
.grid{
  grid-column: span 1;
  grid-row: span 1;
}
#lowerLimit{
  border: none;
  background-color: transparent;
  border-bottom: 2px solid black;
  text-align: center;
  font-size: 1em;
  outline: none;
  width: 50px;
  margin-left: 0px;
  margin-right: 30px;
}
#upperLimit{
  width: 50px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid black;
  text-align: center;
  font-size: 1em;
  outline: none;
  margin-left: 0px;
  margin-right: 30px;
}
.grid2{
  margin-top: 50px;
  justify-content: center;
}
.grid2 p3{
  margin: 0 20px;
  font-size: 1.2em;
}

ul{
  display: block;
  list-style: none;
}
#listcontainer{
  display:grid;
}